<?xml version="1.0"?>
<model>
  <name>LEVITUM P5</name>
  <version>1.0</version>
  <sdf version='1.10'>model.sdf</sdf>

  <author>
   <name>Sandro Pischinger</name>
   <email>sandro.pischinger@levitum.de</email>
  </author>

  <description>
   This is a Gazebo simulation model of Levitum's fifth prototype. The mass tensor was calculated for the case where the CG is at 53.8 percent of the length of the prototype. The aerodynamics are from P5, and thus do not match exactly.

  </description>
</model>